<div id="preloader">
    <img class="logo" src="http://cinextreme.co/appCine/assets/cartelera/images/Logo.png" alt="" width="20%"
        height=auto>
    <div id="status">
        <span></span>
        <span></span>
    </div>
</div>

<!--INICIO DE TRAILER-->


<div class="container-fluid trailer">
    <div class="row">

        <div class="col-lg-10 ">
            <a routerLink="/cartelera" style="color:white; z-index: 100; font-weight: lighter; font-size: 200%; margin-top: 30px;">
                <- {{nameMovie}}</a>
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" width="560" height="315" id="trailer"
                     frameborder="0" allowfullscreen>
                </iframe>
             </div>
        </div>
        <div class="col-lg-2 d-flex justify-content-center" style="margin-top: 25%;">
            
            <svg (click)="movie()" version="1.1" id="play" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
            
                x="0px" y="0px" height="100px" width="100px" viewBox="0 0 100 100" enable-background="new 0 0 100 100"
                xml:space="preserve">
               
                <path class="stroke-solid" fill="none" stroke="#ddbe72" d="M49.9,2.5C23.6,2.8,2.1,24.4,2.5,50.4C2.9,76.5,24.7,98,50.3,97.5c26.4-0.6,47.4-21.8,47.2-47.7
    C97.3,23.7,75.7,2.3,49.9,2.5" />
                <path class="icon" fill="#ddbe72"
                    d="M38,69c-1,0.5-1.8,0-1.8-1.1V32.1c0-1.1,0.8-1.6,1.8-1.1l34,18c1,0.5,1,1.4,0,1.9L38,69z" />
                    <rect>
                        <title>Reproducir</title>
                </rect>
            </svg>


        </div>

    </div>

</div>
<!--FIN DEL TRAILER-->



<footer class="ht-footer full-width-ft">
    <div class="row">
        <div class="flex-parent-ft">
            <div class="flex-child-ft item1">
                <a href="index-2.html"><img class="logo" src="assets/cartelera/images/Logo.png" alt=""></a>
            </div>
            <div class="flex-child-ft item2">
                <h4>© Copyright CineXtreme 2020. Todos los derechos reservados</h4>
            </div>
        </div>
    </div>
</footer>